{% extends "base.html" %}
{% block content %}
        <div class="register_person">
            <h1>Заполните персональные данные</h1>
            <form action="/mail-sent" method="post">
              <div class="mb-3">
                <label  class="form-label">age</label>
                <input type="text" class="form-control"   name="age">
              </div>
              <div class="mb-3">
                <label  class="form-label">phone number</label>
                <input type="text" class="form-control"  name="phone_number">
              </div>
                <div class="mb-3">
                <label  class="form-label">your class</label>
                <input type="text" class="form-control"  name="class">
              </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>user type</option>
                      <option value="1">Teacher</option>
                      <option value="2">Student</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
{% endblock %}
