{% extends "base.html" %}
{% block content %}
    <div class="register">
        <h1>Регистрация</h1>
        <form action="/mail-sent" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="login">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>
            <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="repeat_password">
          </div>
            <a class="btn btn-outline-success" href="/register_person" class="btn btn-outline-success">Submit</a>
        </form>
     </div>
{% endblock %}
